@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;700;800&display=swap');

body {
    font-family: 'Sarabun', sans-serif;
}

.container {
    max-width: 70% !important;
    display: block;
    margin: 7vh auto;
}

.header,
.content {
    text-align: center;
    margin-bottom: 10px;
}
.content {
    padding: 20px !important;
}
.description {
    margin-top: 10px;
}
#lyric {
    font-size: 1.4em;
    line-height: 1.6em;
}

.card-content .is-2 {
    margin-top: 10px;
}

@media screen and (min-width: 780px) {
    .container {
        max-width: 50% !important;
    }
}